---
layout: default
title: thomIT
---

  <section id="home" class="full-screen-dem parallax" data-stellar-background-ratio="0.5">
    {% include home-section.html %}
  </section>
  <section id="navigation">
    {% include nav-section.html %}
  </section>
  <section id="about" class="padding-80">
    {% include about-section.html %}
  </section>
  <section id="contact" class="padding-80">
    {% include contact-section.html %}
  </section>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
