            <div class="contact-sec-1">
                <div class="container">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>we Love to here from you  </span></h4>
                        <h2 class="large section-title">Contact Us</h2>
                    </div><!--section heading-->
                </div><!--.container-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">

                        <div id="map-canvas" style="width:100%; height: 350px;"></div>

                        </div>
                        <div class="col-md-3">
                            <h4>Contact info</h4>
                            <div class="contact-info wow animated fadeInRight" data-wow-delay=".6s">
                                <p><i class="fa fa-home"></i>Enzianweg 6, 8048 Z&uuml;rich, Schweiz</p>
                                <p><i class="fa fa-phone"></i>+41 78 852 1172</p>
                                <p><i class="fa fa-envelope"></i> <a href="#">tp@thomit.com</a></p>
                                <hr>
                                <h4>Elsewhere</h4>
                                <ul class="list-inline social-colored"> 
                                    <li><a href="#"><i class="fa fa-facebook icon-fb" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter icon-twit" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus icon-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin icon-in" data-toggle="tooltip" title="" data-original-title="Linkedin" data-placement="top"></i></a></li>

                                </ul> <!--colored social-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--Contact-sec-1 end-->