<section id="footer" class="padding-50">

<footer class="site-footer">
 <div class="container">
   <div class="row">
     <div class="col-md-6 col-sm-6">
       <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
     </div>

   </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 copyright">
                        <span>&copy;2016 thomIT GmbH. All rights reserved</span>
                    </div>
                </div>
  </div>
</footer>
</section><!--footer end-->
