//some variables for Codeon theme, you can create your own easily.
$body-bg:#fff;
$base-line-height:24px;
$skincolor:#1fa7df;//Theme default color code, paste your own code here
$base-color:#0c4667; //dark color for heading
$primary-font:  'Source Sans Pro', sans-serif; //default font family
$base-font-size:16px; //default basic font size
$alert-color:red; //alert color

