---
layout: default
title: Posts
---

  <section id="navigation">
    {% include nav-section-blog.html %}
  </section>

  <section id="page-head-bg">
      <div class="container">
          <h1>{{ page.title }}</h1>
      </div>
  </section><!--page-head bg end-->

 <section id="blog-list" class="padding-80">
   <div class="container">
     <div class="row">
				{% for post in site.posts %}
					<div class="blog-item-sec">
            {% if post.image != null %}
              <a href="{{ post.url }}">
                <img src="{{site.url}}/img/{{post.image}}" class="img-responsive" alt="">
              </a>
              {% endif %}
                            <div class="blog-item-head">
                                <h3><a href="{{ post.url }}">{{ post.title }} </a> </h3>
                            </div><!--blog post item heading end-->
                            <div class="blog-item-post-info">
                                <span><a href="{{ post.url }}">{{ post.author }}</a> |{{ post.date | date: "%b %-d, %Y" }} | {% for category in post.categories%}<a href="{{ post.url }}">{{ category }}</a> {% endfor %}|</span>
                            </div><!--blog post item info end-->
                            <div class="blog-item-post-desc">

                            	{{ post.excerpt }}

                            </div><!--blog-item-post-desc end-->
                            <div class="blog-more-desc">
                                <div class="row">
                                    <div class="col-sm-7 col-xs-12">
                                        <ul class="list-inline social-colored">
                                            <li class="empty-text">Share:</li>
                                            <li><a href="#"><i class="fa fa-facebook icon-fb" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter icon-twit" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                                        </ul> <!--colored social-->
                                    </div>
                                    <div class="col-sm-5 text-right col-xs-12">
                                        <a href="{{ post.url }}" class="btn btn-theme-color">Read more <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div><!--blog more desc end-->
            </div>
        {% endfor %}
      </div>

    </div>


</section>
